:root {
  --white: #fff;
  --active-color: #00aeb0;
}

* {
  box-sizing: border-box;
  caret-color: rgba(0, 0, 0, 0);
}

html {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  background: var(--active-color);
  transition: background 0.4s ease;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  caret-color: rgba(0, 0, 0, 0);
}

input {
  caret-color: rgba(0, 0, 0, 0);
}

input:focus {
  color: transparent;
  outline: none;
}

.input-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  margin-bottom: 15px;
}

.input-progress {
  height: 5px;
  -webkit-appearance: none;
  margin-bottom: 10px;
  margin-top: 13px;
  border-radius: 8px;
  background: #3b7677;
  transition: background 0.2s ease;
  cursor: pointer;
  grid-column-start: 1;
  grid-column-end: 7;
}

.control-box {
  margin-left: 15px;
}

.volume-control {
  display: flex;
  align-items: baseline;
  width: 100%;
}

.volume-control .speaker {
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.volume-control .bars {
  margin-top: -5px;
  position: relative;
  display: flex;
  align-items: flex-end;
  margin-left: 5px;
  width: 55px;
  height: 24px;
}

.volume-control .bars .bar {
  width: 14%;
  margin: 0 3%;
  background-color: #bbb;
}

.volume-control .bars .bar:nth-child(1) {
  height: 20%;
}

.volume-control .bars .bar:nth-child(2) {
  height: 40%;
}

.volume-control .bars .bar:nth-child(3) {
  height: 60%;
}

.volume-control .bars .bar:nth-child(4) {
  height: 80%;
}

.volume-control .bars .bar:nth-child(5) {
  height: 100%;
}

.volume-control .bars .level-input {
  position: absolute;
  width: 55px;
  height: 21px;
  cursor: pointer;
  opacity: 0;
  left: -3px;
}

.trash {
  color: white;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 2px;
}

ul {
  list-style: none;
  padding: 0;
}

.audio-player {
  max-width: 420px;
  padding: 24px;
  border-radius: 20px;
  box-shadow: 0 28px 28px rgba(0, 0, 0, 0.2);
  margin: auto;
  color: var(--white);
}

.artwork {
  border-radius: 120px;
  display: block;
  margin: auto;
  height: 200px;
  width: 200px;
}

.track-info {
  text-align: center;
  z-index: 1;
  position: relative;
}

.title {
  font-weight: 700;
  margin-bottom: 4px;
}

.artist {
  font-weight: 300;
  margin-top: 0;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
}

.btn-add-track {
  color: white;
  font-size: larger;
  cursor: pointer;
  margin-top: 10px;
}

.audio-controls {
  display: flex;
  justify-content: center;
  width: 75%;
  margin: 0 auto 15px;
}

.audio-controls .prev svg,
.audio-controls .next svg {
  width: 35px;
  height: 35px;
}

.audio-controls .play svg,
.audio-controls .pause svg {
  height: 40px;
  width: 40px;
}

.audio-controls path {
  fill: var(--white);
}

.color-backdrop {
  background: linear-gradient(45deg, var(--active-color) 20%, transparent 100%)
    no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.color-backdrop.playing {
  animation: colorChange 20s alternate infinite;
}

@keyframes colorChange {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
