:root {
  --white: #fff;
  --active-color: #00aeb0;
}

* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  background: var(--active-color);
  transition: background 0.4s ease;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.input-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 10px;
}

.input-progress {
  height: 5px;
  -webkit-appearance: none;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 13px;
  border-radius: 8px;
  background: #3b7677;
  transition: background 0.2s ease;
  cursor: pointer;
  grid-column-start: 1;
  grid-column-end: 4;
}

.control-box {
  margin-left: 15px;
}

.volume-control {
  display: flex;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.volume-control .speaker {
  transition: 0.3s ease-in-out;
}

.volume-control .bars {
  position: relative;
  display: flex;
  align-items: flex-end;
  background-color: rgba(0, 0, 0, 0.1);
}

.volume-control .bars .level-input{
  width:70px;
}

ul {
  list-style: none;
  padding: 0;
}

.audio-player {
  max-width: 420px;
  padding: 24px;
  border-radius: 20px;
  box-shadow: 0 28px 28px rgba(0, 0, 0, 0.2);
  margin: auto;
  color: var(--white);
}

.artwork {
  border-radius: 120px;
  display: block;
  margin: auto;
  height: 200px;
  width: 200px;
}

.track-info {
  text-align: center;
  z-index: 1;
  position: relative;
}

.title {
  font-weight: 700;
  margin-bottom: 4px;
}

.artist {
  font-weight: 300;
  margin-top: 0;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
}

.btn-add-track {
  border: solid 4px white;
  border-radius: 50%;
  color: white;
  font-size: larger;
}

.audio-controls {
  display: flex;
  justify-content: center;
  width: 75%;
  margin: 0 auto 15px;
}

.audio-controls .prev svg,
.audio-controls .next svg {
  width: 35px;
  height: 35px;
}

.audio-controls .play svg,
.audio-controls .pause svg {
  height: 40px;
  width: 40px;
}

.audio-controls path {
  fill: var(--white);
}

.color-backdrop {
  background: linear-gradient(45deg, var(--active-color) 20%, transparent 100%)
    no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.color-backdrop.playing {
  animation: colorChange 20s alternate infinite;
}

@keyframes colorChange {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
