/*

*/

:root {
  --white: #fff;
  --soft-green: #8aba9f;
  /* --soft-green: #ba763e; */
  --red: #e2804a;
  /* --green: #a76a38; */
  
  
  --dark-blue:#1e3f5a;
  /* --soft-blue:#6d8fac; */
  

  --green: #6ea875;
  --blue: #5fa7d0;
  --yellow: #e7d14f;
}

* {
  box-sizing: border-box;
  margin: 0;
  /* caret-color: rgba(0, 0, 0, 0); */
}

html {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  background: var(--soft-green);
  transition: background 0.4s ease;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  caret-color: rgba(0, 0, 0, 0);
}

.app-container {
  max-width: 100vw;
}

input {
  /* caret-color: rgba(0, 0, 0, 0); */
}

input:focus {
  color: transparent;
  outline: none;
}

.input-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  margin-bottom: 15px;
}

.input-progress {
  height: 5px;
  width: 95%;
  -webkit-appearance: none;
  margin-bottom: 10px;
  margin-top: 13px;
  border-radius: 8px;
  /*background: #3b7677;*/
  /*   background: var(--green); */
  transition: background 0.2s ease;
  cursor: pointer;
  grid-column-start: 1;
  grid-column-end: 7;
}

.input-progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--white);
  cursor: pointer;
}

.control-box {
  margin-left: 15px;
}

.volume-control {
  display: flex;
  align-items: baseline;
  width: 100%;
}

.volume-control .speaker {
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.volume-control .bars {
  margin-top: -5px;
  position: relative;
  display: flex;
  align-items: flex-end;
  margin-left: 5px;
  width: 55px;
  height: 24px;
}

.volume-control .bars .bar {
  width: 14%;
  margin: 0 3%;
  background-color: #bbb;
  transition: 0.3s ease-in-out;
}

.volume-control .bars .bar:nth-child(1) {
  height: 20%;
}

.volume-control .bars .bar:nth-child(2) {
  height: 40%;
}

.volume-control .bars .bar:nth-child(3) {
  height: 60%;
}

.volume-control .bars .bar:nth-child(4) {
  height: 80%;
}

.volume-control .bars .bar:nth-child(5) {
  height: 100%;
}

.volume-control .bars .level-input {
  position: absolute;
  width: 55px;
  height: 21px;
  cursor: pointer;
  opacity: 0;
  left: -3px;
}

.trash {
  color: white;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 2px;
}

ul {
  list-style: none;
  padding: 0;
}

.audio-player {
  max-width: 420px;
  padding: 24px;
  border-radius: 20px;
  margin: auto;
  color: var(--white);
}

@media (min-width: 420px) {
  .audio-player {
    box-shadow: 0 28px 28px rgba(0, 0, 0, 0.2);
  }

  .trackBlock {
    max-width: 33vw;
  }

  .search-input {
    width: 260px;
  }
}

.artwork {
  border-radius: 120px;
  display: block;
  margin: auto;
  /*  height: 200px;
  width: 200px; */
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
  background-color: white;
  color: black;
}

.track-info {
  text-align: center;
  z-index: 1;
  position: relative;
  margin: 8px;
}

.title {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 8px;
}

.artist {
  font-weight: 300;
  margin: 8px;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
}

.btn-add-track {
  color: var(--white);
  font-size: larger;
  cursor: pointer;
  margin-top: 10px;
}

.audio-controls {
  display: flex;
  justify-content: center;
  width: 75%;
  margin: 0 auto 15px;
}

.btn-disabled {
  color: #000;
}

.audio-controls .prev svg,
.audio-controls .next svg {
  width: 35px;
  height: 35px;
}

.audio-controls .play svg,
.audio-controls .pause svg {
  height: 40px;
  width: 40px;
  margin: 10px;
}

.audio-controls path {
  fill: var(--white);
}

.color-backdrop {
  display: none;
  background: linear-gradient(45deg, var(--soft-green) 20%, transparent 100%)
    no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: -1;
}

.color-backdrop.playing {
  animation: colorChange 20s alternate infinite;
}

@keyframes colorChange {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

/* MENU SEARCH TRACKS */
.menu-container {
  position: fixed;
  width: 30%;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  box-shadow: 8px 0px 20px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  /* background-color: #1e3f5a; */
  background-color: var(--dark-blue);
}

.top-menu-container {
  position: fixed;
  width: 30%;
  background-color: var(--dark-blue);
}

.searchbar-container {
  display: flex;
  justify-content: flex-end;  
}

.toggle-button {
  cursor: pointer;
  position: fixed;
  z-index: 1001;
  color: white;
  /* background-color: var(--soft-green); */
  width: 90px;
  height: 90px;
  border-radius: 0 0 90px 0;
}

.background-blue {
  background-color: var(--dark-blue);
}

.background-green {
  background-color: var(--soft-green);
}

.icon-toggle-container {
  transform: rotate(180deg);
  margin-left: 44px;
  margin-bottom: 24px;
}

.fa-list-ul {
  margin-left: 38px;
  margin-bottom: 18px;
}

.fa-search {
  margin-left: 18px;
  margin-top: 18px;
}

.list-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  width: 26px;
  height: 26px;
  margin-top: 10px;
  margin-left: 10px;
  background-color: var(--red);
  z-index: 1002;
}

@media (max-width: 1250px) {
  .menu-container {
    width: 100%;
  }
  .trackBlock {
    max-width: 100vw;
  }
}

@media (max-width: 1250px) {
  .top-menu-container {
    width: 100%;
  }
} 

.menu-container::-webkit-scrollbar {
  display: none;
}

.searchbar {
  margin: 2em 2em 3em 2em;
}

.search-input {
  color: #000;
  border: 0;
  border-radius: 500px;
  height: 50px;
  width: 200px;

  font-size: 1.2em;
  background-image: url(./app/assets/search.png);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: 10% 50%;
  background-clip: padding-box;
  padding: 12px 20px 12px 60px;
  box-shadow: none;
  -webkit-appearance: none;
}

.search-input::-webkit-search-decoration,
.search-input::-webkit-search-cancel-button,
.search-input::-webkit-search-results-button,
.search-input::-webkit-search-results-decoration {
  /* -webkit-appearance: none;
  background-repeat: no-repeat;
  padding: 1px;
  background-position: center center;
  background-size: 15px 15px;
  background-image: url(./app/assets/search.png); */
}

.trackBlock {
  margin: 0 2em 1em 2em;
  color: white;
  display: flex;
  justify-content: space-between;
}

.trackBlock .infos {
  display: flex;
  align-items: center;
}

.trackBlock .infos .infos-text {
  margin-left: 1em;
}

.trackBlock .infos .infos-text .info-title {
  color: #fff;
  font-size: 1.05em;
}

.trackBlock .infos .infos-text .info-artist-name {
  color: #e5e5e5;
}

.trackBlock .trackBlock-buttons {
  display: flex;
  align-items: center;
}
